html{
    height: 100vh;
    width: 100vw;
    overflow-x:hidden;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body *{
    line-height: 1;
    font-family: Roman-55, "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
    font-feature-settings: "salt";
}
ol, ul {
    list-style: none;
}

body{
    background-color: #f6f6f6;
    margin: 0;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 100%;
    padding: 1% 1.5%;
}

.header-nav ul{
    padding-right: 5%;
}

.header-nav li, a {
    font-size: 14px;
    color: #101010;
    text-decoration: none;
}

#hm{
    display: none;
}

.header-nav label{
    display: none;
}

.header-nav label ul{
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    gap:5px;
}


.header-nav label ul li{
    width: 100%;
    height: 5px;
    background-color: #000;

}

.logo-header{
    cursor: pointer;
    width: 75%;
}

.menu-header li{
    display:inline;
    flex-wrap: nowrap;
    padding: 0px 20px;
}

img.logo-account{
    height: 25px;
}

.label-new {
    margin-left: 5px;
    border: 1px solid #101010;
    border-radius: 5px;
    font-size: 10px;
}

/*main*/

main{
    font-family: "OnePlus Sans Text", Roman-55, "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
    font-weight: 400;
    font-feature-settings:"salt";
    font-size: 16px;
}

p.more{
    font-size: 34px;
    line-height: 41px;
    padding-top: .2%;
}

.lm{
    text-decoration: underline;
    margin-top: 30px;
}

.first-image, .second-image, .third-image{
    height: 680px;
    width: 100%;
}
.first-image img, .second-image img, .third-image img{
    position: absolute;
    object-fit: cover;
    z-index: -1;
    height:680px;
    width:100%;
}

.first-image div{
    color: #fff;
    line-height: 19px;
    padding-left: 20%;
    padding-top: 330px;
}

.second-image div{
    color: #fff;
    float: right;
    line-height: 19px;
    padding-right: 30%;
    padding-top: 330px;
}

.third-image div{
        color: #000;
        float: right;
        line-height: 19px;
        padding-right: 30%;
        padding-top: 330px;
}

/*reviews*/

.review{
    height: 315px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.review div{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.review cite{
    width: 70%;
    text-align: center;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

/*Newsletter*/

.newsletter{
    background: url("../assets/img/background.jpeg");
    height: 375px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.newsletter div{
    height: 100%;
    width: 35%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5% 0;
}

.newsletter div p:first-child{
    font-size: 34px;
}

.newsletter a{
    text-decoration: underline;
}

.newsletter input{
    width: 70%;
    height: 30px;
    background-color: #f6f6f6;
    border: 1px solid white;
    font-size: 16px;
    padding-left: 2%;
}

.newsletter input:focus{
    outline-style: none;
    border: 1px solid white;
    caret-color: #fff;
}

/*footer*/

/*first container*/


div.container_footer{
    display: flex;
    justify-content: center;
    padding:2% 0;
    width: 100%;
    margin-left: 0;
    background-color: #ffffff;
}

footer .flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
}

div.container_footer a{
    text-decoration: none;
    color: rgba(0,0,0,60% );
}

div.container_footer a:hover{
    color: #000;
}

div div.category_box{
    font-family: Roman-55, "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 38px;
}
div div.category_box p{
    padding-bottom: 10%;
}

/*second container*/

#social_contacts{
    display: flex;
    justify-content: flex-end;
    padding: 1.5% 8%;
    background-color: #fff;
}

div#social_contacts>div{
    display: flex;
    justify-content: space-between;
    width: 10%;
}


a.social_button, a.social_button>img{
    height: 20px;
    width: 20px;
    opacity: 0.8;
    margin-top: 5%;
    
}

a.social_button>img:hover, a.social_button>img:focus{
    opacity: 1;
}

/*third container*/

div.bottom_container{
    height: 160px;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

div.lang, div.links, div.copyright{
    margin-top: 25px;
    margin-left: 15%;
}

footer div.lang a{
    text-decoration: none;
    color: #000000;
}

footer div.links a, footer div.links ul, footer div.links li{
    display: inline;
    text-decoration: none;
    list-style-type: none;;
    color: #000000;
    font-size: 12px;
    padding-right: 25px;
}

footer div.copyright{
    color: #999999;
    font-size: 12px;
}

footer div.icon{
    text-align: right;
    margin-top: 5px;
    margin-right: 125px;
}

/* responsive */

@media only screen and (max-width: 1000px) {
    .header-nav {
        flex-direction: column;
    }
    
    .header-nav a:first-of-type {
        display: flex;
        justify-content: center;
    }
    
    .menu-header{
        flex-direction: column;
        top:60px;
        left:0;
        width: 100vw;
        height: 100%;
        display: none;
        z-index: 1;
        margin-top: 5%;
    }

    .menu-header li{
        height: 50px;
        border-bottom:1px solid gainsboro;
        display: flex;
        align-items: center;
    }

    .c-query{
        width: 100vw;
        height: 100%;
        padding-top: 20px;
        padding-left: 20px;
        border-bottom:1px solid gainsboro;
        display: none;
    }
    
    #hm:checked ~ .header-nav{
        height: 100vh;
        background-color: #fff;
    }
    #hm:checked ~ * .c-query, #hm:checked ~ * .menu-header{
        display: flex;
    } 
    
    #hm:checked ~ main, #hm:checked ~ footer{
        display:none;
    }

    .header-nav label{
        display: flex;
        position: fixed;
        left: 0;
        margin-top: .5%;
        margin-left: 1% ;
    } 

    #hm:checked ~ * label>ul li:nth-child(1){
        display: none;
    }
    #hm:checked ~ * label>ul li:nth-child(2){
        width: 70%;
        transform: rotate(45deg) translateX(14px);
    }
    #hm:checked ~ * label>ul li:nth-child(3){
        width: 70%;
        transform: translateX(10px) rotate(135deg);
    }
}
@media only screen and (max-width: 750px) {
    .first-image, .second-image, .third-image{
        font-size: 0.8em;
    }
    p.more{
        font-size: 24px;
    }
    .first-image div{
        padding-left: 10%;
    }
    .second-image div, .third-image div{
        padding-right: 10%;
    }

    .review div{
        width: auto;
    }
    .review cite{
        font-size: .8em;
    }
    .review img{
        height: 10%;
    }
}

@media only screen and (max-width: 350px) {
    .review{
        flex-direction: column;
        height: auto;
    }
    .review div{
        padding: 10px 0;
        border-bottom: 1px solid gainsboro;
    }
    .review div:nth-child(3) img{
        height: 50px;
    }
    
    *{
        max-width: 100%;
    }
}
